# ignore everything
*

# Allow these files & directories
!/apps
!/@tempo
!/scripts
!/tempo
!/package.json
!/pnpm-lock.yaml
!/pnpm-workspace.yaml
!/pyproject.toml
!/tsconfig.*json
!/turbo.json
!/.env
!/.gitignore
!/.npmrc

# Used when building with nextjs (next-eslint)
!.eslintrc.base.json
!.prettierignore
!.prettierrc.js
!.eslintignore

# Ignore from allowed directories
**/*~
**/*.log
**/*.pyc
**/*.sqlite
**/.DS_Store
**/Thumbs.db
**/.cache*
**/.eslintcache*
**/.git*
**/.husky*
**/.idea*
**/.next*
**/.turbo*
**/.venv*
**/.vscode*
**/cypress*
**/docker-compose.*
**/Dockerfile*
**/logs*
**/node_modules*
**/tmp*
**/tsconfig.tsbuildinfo
Dockerfile
LICENSE
