auto-install-peers=true
engine-strict=true
public-hoist-pattern=[
  '*@graphql*',
  '*@tempo*',
  '*@types*',
  '*eslint*',
  '*graphql*',
  '*prettier*',
  'next',
  'react',
  'react-dom',
  'typescript'
]
strict-peer-dependencies=true
