auto-install-peers=true
engine-strict=true
strict-peer-dependencies=true
public-hoist-pattern[]=*import-in-the-middle*
public-hoist-pattern[]=*require-in-the-middle*
# TODO: determine if this is truly necessary...
# It seems to fix the dashboard's inability to find React context
# shamefully-hoist=true
