/* TODO */
/* const avatarSize = 32; */

.avatar {
  height: 32;
  width: 32;
  @apply bg-background-paper;
}
.avatarInitials {
  height: 32;
  line-height: 32px;
  width: 32;
  @apply text-primary-contrast text-center;
}
.avatarPlaceholder {
  @apply items-center flex bg-primary;
  border-radius: 100%;
  display: flex;
  justify-content: center;
}
.label {
  line-height: 1.2;
  text-align: left;
}
.labelContainer {
  /* [theme.breakpoints.down('md')] {
    marginLeft: 0;
  } */
  display: inline-flex;
  @apply items-center ml-2;
}
.popover {
  /* marginTop: theme.spacing(0.5); */
  @apply mt-[0.5];
  z-index: 10;
}
.userChip {
  /* [theme.breakpoints.down(md)] {
    padding: theme.spacing(0.5);
  }
  padding: theme.spacing(0.5, 3, 0.5, 1); */
  /* ...theme.typography.body1; */
  display: flex;
  text-transform: unset;
}
.userMenuContainer {
  cursor: pointer;
  display: inline-block;
  position: relative;
}
